/.idea/
.idea/
out/
target/
/neo4j-concept/infer-out/
/neo4j-concept/src/test/resources/
/doc/img/
/src/main/python/__pycache__/
*.log
*.aux
*.loc
*.toc
*.lol
*.lof
*.lot
*.out
*.blg
*.bbl
*.synctex.gz
/gradlew
/gradlew.bat
/build/
/.gradle/
/gradle/
/out/
/target/
